<div class="col-6">
  <h3> Check this project out!</h3>
  {% if include.type == "mobile" %}
  <a href="{{page.link}}" target="_blank" >
    <img width="48" title="GooglePlay Mobile App"  src="/assets/img/projects/play-button.png" />
  </a>
  {% else %}
  
  <a target="_blank" href="{{page.link}}">
    <img width="48" title="Hosted Web App"  src="/assets/img/projects/google-chrome.png" />
  </a>
  {% endif %}
  {% if page.github %}
  <a target="_blank" href="{{page.github}}" style="margin-left:0.5em">
    <img width="48" title="Github"  src="/assets/img/projects/github.png" />
  </a>
  {% endif %}

</div>
