<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div>
      <header class="header-background">
        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            <li class="inline-block">
              <a
                class="align-middle link-primary header-link mr-2"
                href="#Projects"
                >Projects</a
              >
            </li>
            <li class="inline-block">
              <a
                class="align-middle link-primary header-link mr-2"
                href="#Posts"
                >Diaries</a
              >
            </li>
            {% for my_page in site.pages %} {% if my_page.title %} 
            <li class="inline-block">
              <a
                class="align-middle link-primary header-link mr-2"
                href="{{ my_page.url | prepend: site.baseurl }}"
                >{{ my_page.title }}</a
              >
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1
            class="h0 inline-block col-12 sm-width-full py-4 mt-3 header-title"
          >
            <img
              class="col-3 sm-width-full left py-2 mb-0 mr-3"
              src="https://kunshengsite.s3-ap-southeast-1.amazonaws.com/thedevdiaries_logo.png"
            />
            {{ site.title }}
          </h1>
          <div class="clearfix mb-4 py-1">
            <div class="col-9 sm-width-full left border-top-thin">
              <div class="table">
                <!-- <div class="inline-block mt-3 mr-1">
                  {% include dot-accent.html %}
                </div>
                <div class="inline-block mt-3 mr-1">
                  {% include dot-accent.html %}
                </div> -->
                <!-- <div class="inline-block mt-3">{% include github.html %}</div> -->
              </div>
              <!-- Set site description in config.yml -->
              <p class="h4 lh-condensed font-smoothing mt-2 py-1">
                {{ site.description }}
              </p>
            </div>
          </div>
        </div>
      </header>

      <div class="container mx-auto px-2 table">
        <h1
          id="Projects"
          style="text-align: center"
          class="header-title sm-width-full py-3 mt-3"
        >
          My Projects
        </h1>
        {% for project in site.projects %} {% include project_block.html %} {%
        endfor %}
      </div>
      <br />

      <!-- This loops through the paginated posts -->
      <div class="container mx-auto px-4 py-2">
        <h1 id="Posts" class="header-title sm-width-full">Diaries</h1>

        {% for post in paginator.posts %} {% include post_block.html %} {%
        endfor %}
        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}#Posts" class="previous">
            Previous
          </a>
          {% else %}
          <span class="previous">Previous</span>
          {% endif %}
          <span class="page_number">
            Page: {{ paginator.page }} of {{ paginator.total_pages }}
          </span>
          {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}#Posts" class="next">Next</a>
          {% else %}
          <span class="next">Next</span>
          {% endif %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
